/* Base */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
::before,
::after,
p {
  margin: 0;
  padding: 0;
}

a {
  color: black;
}
a:hover {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.container {
  max-width: 1240px;
}

/* Utils */
/* Layout */
/* Components */
.searchBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 17px;
  background-color: #E7E7E7;
  border-radius: 5px;
}
.searchBar__input {
  flex: 1;
  font-family: "Lato";
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  border: none;
  background-color: #E7E7E7;
  text-overflow: ellipsis;
}
.searchBar__input:focus-visible {
  outline: none;
}
.searchBar__valid {
  margin-left: 10px;
}
.searchBar__valid__icon {
  font-size: 32px;
}
.searchBar__valid__icon:hover {
  color: black;
}
.searchBar__valid:hover .searchBar__valid__icon {
  color: black;
}

.tags {
  margin-top: 25px;
  margin-bottom: 15px;
  padding: 0;
  display: flex;
  flex-direction: row;
}
.tags__tag {
  display: flex;
  flex-direction: row;
  padding: 8px 22px;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 5px;
}
.tags__tag__text {
  font-family: "Lato";
  font-size: 14px;
  font-weight: 700;
  line-height: 16.8px;
}
.tags__tag__icon {
  font-size: 20px;
  margin-left: 13px;
  cursor: pointer;
}
.tags__tag--ingredient {
  background-color: #3282F7;
}
.tags__tag--appareil {
  background-color: #68D9A4;
}
.tags__tag--ustensile {
  background-color: #ED6454;
}

.filters {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 25px;
}
.filters__dropdown {
  position: relative;
  display: inline-block;
  color: white;
  border-radius: 5px;
  margin-right: 20px;
  padding: 23px 20px;
  width: 223px;
  transition: all 0.5s ease;
}
.filters__dropdown.expend {
  width: 667px;
}
.filters__dropdown.expend--2 {
  width: 445px;
}
.filters__dropdown.expend .filters__dropdown__text {
  width: 90%;
}
.filters__dropdown.expend--2 .filters__dropdown__text {
  width: 87%;
}
.filters__dropdown__text {
  font-family: "Lato";
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  color: white;
  border: none;
  width: 73%;
  transition: all 0.5s ease;
}
.filters__dropdown__text:focus-visible {
  outline: none;
}
.filters__dropdown__text::placeholder {
  color: white;
}
.filters__dropdown__icon {
  font-size: 16px;
  margin-left: 31px;
  transition: transform ease 0.5s;
}
.filters__dropdown__icon.flip {
  transform: rotateX(-180deg);
}
.filters__dropdown__content {
  display: none;
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 1;
  border-radius: 5px;
  padding: 12px 20px 6px 20px;
  margin: 0;
}
.filters__dropdown__content p {
  min-width: 200px;
  font-family: "Lato";
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  margin-bottom: 10px;
}
.filters__dropdown__content.show {
  display: flex;
}
.filters__dropdown--ingredient, .filters__dropdown--ingredient .filters__dropdown__text, .filters__dropdown--ingredient .filters__dropdown__content {
  background-color: #3282F7;
}
.filters__dropdown--appareil, .filters__dropdown--appareil .filters__dropdown__text, .filters__dropdown--appareil .filters__dropdown__content {
  background-color: #68D9A4;
}
.filters__dropdown--ustensile, .filters__dropdown--ustensile .filters__dropdown__text, .filters__dropdown--ustensile .filters__dropdown__content {
  background-color: #ED6454;
}

.card {
  background-color: #E7E7E7;
  padding: 0;
  border-radius: 5px;
  min-height: 364px;
  max-width: 380px;
  margin-bottom: 50px;
}
.card:nth-child(3n+1) {
  margin-left: 0;
}
.card:nth-child(3n) {
  margin-right: 0;
}
.card:hover {
  color: black;
}
.card__image {
  height: 178px;
  background-color: #C7BEBE;
}
.card__description {
  margin-top: 20px;
  padding: 0 20px;
}
.card__description__header {
  display: flex;
  margin-bottom: 20px;
}
.card__description__header__title {
  font-family: "Lato";
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  flex: 1;
}
.card__description__header__icon {
  font-size: 20px;
}
.card__description__header__time {
  font-family: "Lato";
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  margin-left: 7px;
}
.card__description__content {
  display: flex;
  align-items: top;
  justify-content: center;
}
.card__description__content__ingredients {
  font-family: "Lato";
  font-size: 12px;
  font-weight: 400;
  line-height: 14.4px;
}
.card__description__content__ingredients--bold {
  font-weight: 700;
}
.card__description__content__explaination {
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* Pages */
.header {
  display: flex;
  justify-content: center;
  margin-top: 42px;
  margin-bottom: 17px;
}
.header__image {
  width: 268px;
}

.cardsTable {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0;
}

/*# sourceMappingURL=style.css.map */
