.filters {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 25px;

    &__dropdown {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        color: white;
        border-radius: 5px;
        margin-right: 20px;

        padding: 23px 15px;

        &__text {
            font-family: "Lato";
            font-size: 18px;
            font-weight: 700;
            line-height: 21.6px;
            color: white;

            border: none;

            max-width: 100px;

            &:focus-visible {
                outline: none;
            }

            &::placeholder {
                color: white;
            }
        }

        &__icon {
            font-size: 16px;
            margin-left: 31px;
        }

        &--ingredient,
        &--ingredient &__text {
            background-color: $colorTertiary;
        }

        &--appareil,
        &--appareil &__text {
            background-color: $colorSecondary;
        }

        &--ustensile,
        &--ustensile &__text {
            background-color: $colorPrimary;
        }
    }
}