.filters {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 25px;

    &__dropdown {
        position: relative;
        display: inline-block;
        color: white;
        border-radius: 5px;
        margin-right: 20px;

        padding: 23px 20px;

        width: 223px;

        transition: all .5s ease;

        &.expend {
            width: 667px;
        }

        &.expend &__text {
            width: 90%;
        }


        &__text {
            font-family: "Lato";
            font-size: 18px;
            font-weight: 700;
            line-height: 21.6px;
            color: white;

            border: none;

            width: 73%;

            transition: all .5s ease;

            &:focus-visible {
                outline: none;
            }

            &::placeholder {
                color: white;
            }
        }

        &__icon {
            font-size: 16px;
            margin-left: 31px;

            transition: transform ease .5s;

            &.flip {
                transform: rotateX(-180deg);
            }
        }

        &__content {
            display: none;
            position: absolute;
            width: 100%;
            left: 0;
            z-index: 1;
            border-radius: 5px;

            padding: 12px 20px 16px 20px;
            margin: 0;

            & p {
                min-width: 200px;
            }

            &.show {
                display: flex;
            }

        }

        &--ingredient,
        &--ingredient &__text,
        &--ingredient &__content {
            background-color: $colorTertiary;
        }

        &--appareil,
        &--appareil &__text,
        &--appareil &__content {
            background-color: $colorSecondary;
        }

        &--ustensile,
        &--ustensile &__text,
        &--ustensile &__content {
            background-color: $colorPrimary;
        }
    }
}