*,
::before,
::after,
p {
    margin: 0;
    padding: 0;
}

a {
    color: black;

    &:hover {
        color: white;
        cursor: pointer;
        text-decoration: none;
    }
}

.container {
    max-width: 1240px;
}