.header {
    display: flex;
    justify-content: center;

    margin-top: 42px;
    margin-bottom: 17px;

    &__image {
        width: 268px;
    }
}

.cardsTable {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    padding: 0;

    @include for-specific-size("759px") {
        justify-content: center !important;
    }
}

#error {
    color: red;
    font-family: "Lato";
    font-size: 16px;
    font-weight: 700;
    line-height: 21.6px;
    display: none;
}

.ingredient {
    background-color: $colorTertiary;
}

.appareil {
    background-color: $colorSecondary;
}

.ustensile {
    background-color: $colorPrimary;
}