.header {
    display: flex;
    justify-content: center;

    margin-top: 42px;
    margin-bottom: 17px;

    &__image {
        width: 268px;
    }
}

.cardsTable {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    padding: 0;
}

.ingredient {
    background-color: $colorTertiary;
}

.appareil {
    background-color: $colorSecondary;
}

.ustensile {
    background-color: $colorPrimary;
}